//       <section className="search">
//         <form className="search__form">
//           <input type="text" className="searach__input"/>
//           <button className="search__submit">submit</button>
//         </form>
//       </section>
//
.search {
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
}
