.top-header {
  background-color: #0b6ea3;

  &__container {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 3rem;
    height: 5rem;
    color: white;
  }

  &__left {
    font-size: 2rem;
  }

  &__right {
    position: relative;
    & > svg {
      font-size: 2rem;
    }

    & > span {
      position: absolute;
      border-radius: 50%;
      background-color: #acd1e6;
      border: 1px solid pink;
      color: black;
      top: -0.5rem;
      right: -0.5rem;
      font-size: 1.2rem;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
    }
  }
}
