.hero {
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  @media (max-width: 1254px) {
    justify-content: center;
  }

  &__left {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-items: start;
  }
  &__title {
    font-size: 5.5rem;
    font-family: cantarell;
    line-height: 1;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.25rem;
    line-height: 1.6;
    font-family: cantarell;
    margin-bottom: 1rem;
  }

  &__btn {
    border: none;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
  }

  &__right {
    margin-right: 3rem;

    @media (max-width: 1254px) {
      display: none;
    }
  }
}
