.top-header {
  background-color: white;
}

.top-header__container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.top-header__logo {
  height: 40px;
}

.top-header__navbar {
  display: flex;
  justify-content: space-between;
}

.top-header__navbar.top-header__navbar--responsive {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background-color: white;
  transform: translateY(100%);
  width: 100vw;
  transition: max-height 0.5s ease-in-out;
  max-height: 100vh;
  overflow: hidden;
}

.top-header__navbar.top-header__navbar--responsive.hide {
  max-height: 0;
}

.top-header__navbar.top-header__navbar--responsive > a {
  display: block;
  font-size: 1rem;
  padding: 1rem;
}

.top-header__navbar > a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 1rem;
}

.top-header__social {
  display: flex;
  justify-content: space-between;
}

.top-header__social > a {
  color: black;
  margin-left: 1rem;
}

.top-header__menu {
  font-size: 1.5rem;
  transition: 0.5s transform ease-in-out;
  color: teal;
}

.top-header__menu:hover {
  transform: rotate(90deg);
}
