*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #ff1cff;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
