.person {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
}

.person-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.person-name {
  padding-bottom: 0.5rem;
  font-family: "Cantarell";
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.25;
}

.person-age {
  color: grey;
}
